.container {
  margin: 0 auto;
  width: 1100px;
}

.mon-profil {
  display:flex;
}

.mes-infos {
  flex: 0 0 500px;
}

.tabs {
  background: #F4F4F4;
  display: flex;
  padding: 24px 10px 0 10px;
  justify-content: space-around;
}

.tab {
  font-weight: bold;
  margin-top: 12.5px;
  margin-bottom: 15px;
}

.tab.active {
  border-bottom: 8px solid #231F20;
}

#mon-profil-index {
  text-align: center;
  margin-top: 10px;
}

.edit-page-button {
  margin-top: 16px;
}

.reviews-card {
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin-bottom: 20px;

}

.card-avis {
  box-shadow: 0;
}

.rent-to i {
  text-align: center;

}

.rent-to {
  margin-top: 10px;
}

.loc-price {
  margin-top: 10px;
}

.loc-date {
  margin-top : 10px;
}

.price-avis {
  text-align: center;
  font-size : 36px;
}

.infos-avis {
  text-align: center;
}

.rent-recap {
  padding-left: 20px;
}

.title-review {
  margin-top: 10px;
}

.review-par {
  color: gray;
  font-size: 17px;
}


