
.weapon-banner {
  display: flex;
  margin-top: 20px;
}

.weapon-info {
  position: relative;
  width: 35%;
  background-color: #FAFBFC;
  padding: 15px;
  text-align: center;
  padding-top: 45px;
}

.back-to-index-button {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
  color: #c1bdbd;
}

.back-to-index-button:hover {
  color: #302f2f;
  cursor: pointer;
}

.weapon-info-name {
  font-size: 32px;
}

.weapon-info-description {
  font-style: italic;
  font-size: 16px;
}

.weapon-main-info {
  text-align: left;
}

.weapon-image {
  width: 65%;
  background-size: cover !important
}

.info-importante {
  text-decoration: underline;
}

.weapon-info-list {
  list-style-type: none;
  padding-inline-start: 5px
}

.weapon-info-li {
  display: flex;
}

.show-icons {
  margin-right : 10px;
  padding-top: 7px;
  font-size :10px;
}

.separation {
  color: black
}
