<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    <i>"Je suis pas chasseur mais je lui mettrais bien une cartouche" </i> <p> René, 2004</p>
</div>
