<div class="navbar-chez-rene">
  <!-- Logo -->
  <a href="/" class="navbar-header-logo">
    <img src="https://banner2.kisspng.com/20180420/tlw/kisspng-hexagone-map-departments-of-france-angle-hexagone-5ad998bc4ac387.6088351015242098523062.jpg" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-chez-rene-right hidden-xs hidden-sm">

    <a href="" class="navbar-chez-rene-item navbar-chez-rene-link ajouter-arme">Ajouter une arme</a>
    <div class="dropdown">
      <button class="dropbtn">Plus d'infos <i class="fas fa-angle-down"></i></button>
      <div class="dropdown-content">
        <a href="#">Comment ça marche</a>
        <a href="#">Louer une arme</a>
        <a href="#">Sécurité</a>
        <a href="#">Nos coordonnées</a>
      </div>
    </div>
    <a href="" class="navbar-chez-rene-item navbar-chez-rene-link">Connexion</a>
    <a href="" class="navbar-chez-rene-item navbar-chez-rene-link">S'inscrire</a>
