<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.armurerie-francaise.com/skin/frontend/fem/armurerie/images/bg-img.jpg');">
  <div class="banner-content">
    <h1>Bien mieux qu'une arme de location</h1>
    <p>Réservez des armes uniques auprès de chasseurs locaux</p>
  </div>
  <div id="home-search-bar">
    <p>Search Bar to add</p>
  </div>
</div>
