<div class="navbar-chez-rene">
  <!-- Logo -->
  <a href="/" class="navbar-header-logo">
    <img src="https://banner2.kisspng.com/20180420/tlw/kisspng-hexagone-map-departments-of-france-angle-hexagone-5ad998bc4ac387.6088351015242098523062.jpg" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-chez-rene-right hidden-xs hidden-sm">

    <a href="" class="navbar-chez-rene-item navbar-chez-rene-link ajouter-arme">Ajouter une arme</a>
    <div class="dropdown">
      <button class="dropbtn">Plus d'infos <i class="fas fa-angle-down"></i></button>
      <div class="dropdown-content">
        <a href="#">Comment ça marche</a>
        <a href="#">Louer une arme</a>
        <a href="#">Sécurité</a>
        <a href="#">Nos coordonnées</a>
      </div>
    </div>
    <a href="" class="navbar-chez-rene-item navbar-chez-rene-link">Connexion</a>
    <a href="" class="navbar-chez-rene-item navbar-chez-rene-link">S'inscrire</a>
  </div>
</div>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.armurerie-francaise.com/skin/frontend/fem/armurerie/images/bg-img.jpg');">
  <div class="banner-content">
    <h1>Bien mieux qu'une arme de location</h1>
    <p>Réservez des armes uniques auprès de chasseurs locaux</p>
  </div>
  <div id="home-search-bar">
    <p>Search Bar to add</p>
  </div>
</div>