<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.armurerie-francaise.com/skin/frontend/fem/armurerie/images/bg-img.jpg');">
  <div class="banner-content">
    <h1>Bien mieux qu'une arme <br> de location</h1>
    <p>Réservez des armes uniques auprès de chasseurs locaux</p>
  </div>
  <div id="home-search-bar">
    <p>Search Bar to add</p>
  </div>
</div>
<div class="container">
  <h2>Notre sélection d'armes</h2>
  <div class="selection-separation"></div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 ">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://assets.academy.com/mgen/71/20039771.jpg?is=150,150?wid=250&hei=250');">
        <div class="card-category">
          <h2>Fusils de chasse</h2>
        </div>
        <div class="card-description">
          <div class="card-name">
            <h2>Le Gun de Papy</h2>
          </div>
          <div class="card-price">
            <h2>500,00 €</h2>
          </div>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://assets.academy.com/mgen/71/20039771.jpg?is=150,150?wid=250&hei=250');">
        <div class="card-category">
          <h2>Pistolet</h2>
        </div>
        <div class="card-description">
          <div class="card-name">
            <h2>El pistol</h2>
          </div>
          <div class="card-price">
            <h2>350,00 €</h2>
          </div>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://assets.academy.com/mgen/71/20039771.jpg?is=150,150?wid=250&hei=250');">
        <div class="card-category">
          <h2>Armes blanches</h2>
        </div>
        <div class="card-description">
          <div class="card-name">
            <h2>L'arc du Turfu</h2>
          </div>
          <div class="card-price">
              <h2>250,00 €</h2>
            </div>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>
