#sign-in-modal-button {
  background-color: #231F20;
  color: white;
  border: none;
  font-size: 13px;
}

#sign-in-modal-button:hover {
  text-decoration: underline;
}

#ajoute-arme-modal-button {
  background-color: #231F20;
  color: white;
  border: none;
  font-size: 13px;
  padding: 5px 20px;
  border: 1px solid #fff;
}

#ajoute-arme-modal-button:hover {
  text-decoration: underline;
}

.log-in-button-in-modal {
  margin-bottom: 10px;
  background-color: #231F20;
  color: white;
  width: 120px;
  border-radius: 3px;
}

.log-in-button-in-modal:hover {
  color: white;
  text-decoration: underline;
}

.btn-primary {
  background-color : #221F20 ;
  padding: 13px 15px;
  border-color : white;
  font-size : 14px;
  transition: all .5s ease;
}

.btn-primary:hover {
  background-color: white;
  border-color : black;
  color : black;
}

.weapon-reserve-btn {
  margin-top: 25px;
  background-color: #231F20;
  color: white;
}

.weapon-reserve-btn:hover {
  text-decoration: underline;
  background-color: #221F20;
  color : white;
}

.weapon-search-bar-btn {
  background-color: #231F20;
  color: white;
  margin: 10px 5px;
}

.accepted-button:hover{
  background-color: white;
  color: #1cef31;
  border-color: #1cef31;
}

.refused-button:hover{
  background-color: white;
  color: #C82233;
  border-color: #C82233;
  margin: 0 auto;
#edit-arme-back-button {
  position: absolute;
  left: -200px;
  top: -2px;
}
