#sign-in-modal-button {
  background-color: #231F20;
  color: white;
  border: none;
  font-size: 13px;
}

#sign-in-modal-button:hover {
  text-decoration: underline;
}

#ajoute-arme-modal-button {
  background-color: #231F20;
  color: white;
  border: none;
  font-size: 13px;
  padding: 5px 20px;
  border: 1px solid #fff;
}

#ajoute-arme-modal-button:hover {
  text-decoration: underline;
}

.log-in-button-in-modal {
  margin-bottom: 10px;
  background-color: #231F20;
  color: white;
  width: 120px;
  border-radius: 3px;
}

.log-in-button-in-modal:hover {
  color: white;
  text-decoration: underline;
}
